*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(dbs.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo{
    width: 50px;
    height: 50px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 120px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(1,129,248);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links a:hover::after{
    width:100%;
}

.navbar{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    color: #fff;
    font-size: 16px;
    
}
.navbar::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(1,129,248);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.btn-ppt{
    text-decoration: none;
    list-style: none;
    border-style: hidden;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px;
}
.nav-ppt{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.ppt {
    text-decoration: none;
    list-style: none;
    color: #fff;
    display:flex;
    flex-direction: column;
    text-align: left;
}
.btn-lang{
    border-style: hidden;
    background-color: transparent;
    font-size: 16px;
    padding: 10px 10px;
}
.nav-lang{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.ln1{
    text-decoration: none;
    list-style: none;
    color: #fff;
    text-align: left;
}

.img-lang{
    margin-right: 5px;
    width: 13px;
    height: 13px;
}
.btn{
    margin: 10px;
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color:#fff;
    background-color: rgb(30, 141, 245);
}

.btn:hover{
    padding: 5px 15px;
    background-color: rgb(1, 94, 182);
    transition: 0.5s;
}

.text-box{
    margin-top: 3.5%;
    margin-left: 10%;
    font-size: 30px;
}

.text-box h1{
    color: white;
    font-size: 57px;
    font-weight: 650;
    line-height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

.box{
    width: 85%;
    height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    background-color:rgb(36, 33, 33);
    background-image: none;
    border-radius: 4px;
    display: block;
    border: 1px solid #1a1a1a;
    color: #ffffff;
}

.crtl{
    margin-left: 10%;
    font-size: 14px;
}

.button{
    list-style:  none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    border: 1px solid #1a1a1a;
    background-color: #1a3053;
}
.button{
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4c74af;
    color: white;
}

.text-command{
    margin-top: 3%;
    margin-left: 10%;
}

.text-command {
    list-style:  none;
    padding: 8px 12px;
    position: relative; 
    background-color: #454647;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 77%;
}

.helpcommand{
    font-size: 30px;
    display: inline;
    font-weight: 500;
    line-height: 70px;
    cursor: pointer;
    margin-left: 5px;
}
.inline {
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

.footer{
    background-color:rgb(14, 19, 41);
    color: #fff;
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.ft1-container{
    flex-direction: column;
    width: 100%;
    height: 300px;
}

.ft1{
    margin-left: 70px;
    align-items: center;
}
.ft1-img{
    margin-top: 40px;
    margin-left: -15px;
    margin-bottom: -20px;
    width: 120px;
}
.ft-copyright{
    color: aliceblue;
    font-size: 12px;
    margin-left: 70px;
    margin-top: 90px;
    color: rgb(191, 193, 206);
}

.ft2{
    display: flex;
}
.ft2-col{
    flex-direction: column;
    width: 100px;
    margin-right: 100px;
}
.ft2-col-one{
    margin-left: 30px;
}
.ft2-head{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ft2-col a,p{
    color: rgb(191, 193, 206);
    flex-direction: column;
    margin-right: 50px;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
}
.ft2-col a:hover{
    color: #fff;
    transition: 0.5s;
}
.ft2-p{
    width: 165px;
    margin-top: 15px;
}
#open{
    display:none;
}
#close{
    display:none;
}